{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <center><h1>LogIn</h1></center>
    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="username" name="username" placeholder="Enter your username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit" name="Login" class="btn btn-primary">Login</button>        
    </form>
{% endblock %}